.container-about-us{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    place-content: center;
    max-width: 900px;
    margin: 130px auto;
   
}
.item {
    position: relative;
    margin-right: 5px;
    align-items: center;
    justify-content: center; 
}
.item img{
    transition: filter 0.3s ease-in-out;
    filter: brightness(50%);
    width: 600px;
    object-fit: cover;
    height: 300px;
   
}
.item:hover img {
    filter: brightness(100%); 
    cursor: pointer;
    
}

.description{
    position: absolute;
    bottom: 40px;
    left: 40px;
    color:white;
    font-size: 36px;
    font-weight: 500;
}
.description:hover{
    filter: brightness(100%); 
    cursor: pointer;
}





